@import "tailwindcss";
@import "pretendard/dist/web/static/pretendard.css";

:root { --font-sans: "pretendard", system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif; }
html { font-family: var(--font-sans); }
*, *::before, *::after { box-sizing: border-box; }

/* 스크롤바 숨기기 */
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}
.no-scrollbar {
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;     /* Firefox */
}

/* 스크롤바 숨기기 */
::-webkit-scrollbar {
    display: none;
}